base = "." 
results = "$base/results"
execution_reports = "${results}/execution_reports"

nextflow {
    enable.dsl = 2
}

singularity {
    enabled = true //less (than podman) buggy docker alternative
    cacheDir = "${base}/containers/cache"
}

podman {
    enabled = false //super-buggy docker alternative, will switch to it when it will become less buggy
    engineOptions = "--storage-opt ignore_chown_errors=true"
}

conda {
    useMicromamba = true
}

report {
    enabled = true
    file = "${execution_reports}/report.html"
    overwrite = true

}

timeline {
    enabled = true
    file = "${execution_reports}/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    overwrite = true
    file = "${execution_reports}/pipeline_dag.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${execution_reports}/pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}